windowcontrols button:not(.suggested-action):not(.destructive-action) {
  min-height: 16px;
  min-width: 16px;
  padding: 0;
  margin: 14px 0px;
}
 
windowcontrols button.minimize:not(.suggested-action):not(.destructive-action), windowcontrols button.maximize:not(.suggested-action):not(.destructive-action), windowcontrols button.close:not(.suggested-action):not(.destructive-action) {
  color: rgba(239, 241, 245, 0.7);
  background-color: #181825; /* custom */
  border: 2px solid #cdd6f4; /* custom */
  border-radius: 5px; /* custom */
  transition: all 200ms cubic-bezier(0, 0, 0.2, 1); /* custom */
  cursor: pointer; /* custom */
}
 
windowcontrols button.minimize:not(.suggested-action):not(.destructive-action) image, windowcontrols button.maximize:not(.suggested-action):not(.destructive-action) image, windowcontrols button.close:not(.suggested-action):not(.destructive-action) image {
  padding: 0;
  background: none;
  display: none; /* custom */
  opacity: 0; /* custom */
  box-shadow: none;
}
 
windowcontrols button.minimize:hover:not(.suggested-action):not(.destructive-action), windowcontrols button.maximize:hover:not(.suggested-action):not(.destructive-action), windowcontrols button.close:hover:not(.suggested-action):not(.destructive-action) {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), inset 0 1px rgba(239, 241, 245, 0.1);
  margin: 11px 0px; /* custom */
  min-height: 20px; /* custom */
}
 
windowcontrols button.minimize:active:not(.suggested-action):not(.destructive-action), windowcontrols button.maximize:active:not(.suggested-action):not(.destructive-action), windowcontrols button.close:active:not(.suggested-action):not(.destructive-action) {
  color: #eff1f5;
  background-color: #eff1f5;
}
 
windowcontrols button.minimize:backdrop:not(.suggested-action):not(.destructive-action), windowcontrols button.maximize:backdrop:not(.suggested-action):not(.destructive-action), windowcontrols button.close:backdrop:not(.suggested-action):not(.destructive-action) {
  opacity: 0.65;
}
 
/* custom */
 
windowcontrols button.minimize:not(.suggested-action):not(.destructive-action) {
  border-color: #a6e3a1;
}
 
windowcontrols button.minimize:hover:not(.suggested-action):not(.destructive-action) {
  background-color: #a6e3a1;
  min-height: 19px;
}
 
windowcontrols button.maximize:not(.suggested-action):not(.destructive-action) {
  border-color: #fab387;
}
 
windowcontrols button.maximize:hover:not(.suggested-action):not(.destructive-action) {
  background-color: #fab387;
  min-height: 19px;
}
 
windowcontrols button.close:not(.suggested-action):not(.destructive-action) {
  border-color: #f38ba8;
}
 
windowcontrols button.close:hover:not(.suggested-action):not(.destructive-action) {
  background-color: #f38ba8;
  min-height: 19px;
}
 
/* end custom */
